# Logs
pnpm-debug.log*

# Coverage / temp
coverage/
.nyc_output/
.tmp/
tmp/
temp/

# Env files
.env
.env.*
!.env.example

# Build / Dependencies
node_modules/
dist/
build/

# Editors / OS
.DS_Store
.idea/
.vscode/

# Misc
uploads/
keys/
*.pem
